<div fxLayout="column" fxLayoutAlign="center center" class="example-card-container"><mat-card class="example-card">
    <mat-card-title>New Applicant</mat-card-title>
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    <mat-card-content>
      <form>
        <div fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
            <mat-form-field appearance="outline" class="m-f-f">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Placeholder">
              <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
              <!-- <mat-hint>This is a Hint</mat-hint> -->
            </mat-form-field>
            <mat-form-field appearance="outline" class="m-f-f">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Placeholder">
              <!-- <mat-icon matSuffix>remove_red_eye</mat-icon> -->
              <!-- <mat-hint>This is a Hint</mat-hint> -->
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
            <mat-form-field appearance="outline" class="m-f-f">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Placeholder">
              <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
              <!-- <mat-hint>This is a Hint</mat-hint> -->
            </mat-form-field>
            <mat-form-field appearance="outline" class="m-f-f">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Placeholder" type="password">
              <!-- <mat-icon matSuffix>remove_red_eye</mat-icon> -->
              <!-- <mat-hint>This is a Hint</mat-hint> -->
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions style="padding-left: 8px;">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="button-act">
        <button mat-raised-button color="primary" routerLink="/home/process">Save</button>
      </div>

      <!-- <button mat-button>SHARE</button> -->
    </mat-card-actions>
  </mat-card>
</div>