<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" class="example-card-container">
    <img src="assets\logo-s.png" alt="" style="width: 140px;" />
    <div style="font-weight: 600; color:#0575E6 ; font-size: 23px;">Reset Your Password</div>
    <div style="font-weight: 500;width: 400px;">No worries, we will email you link to reset your password. please help
        us with your
        registered email ID</div>
    <mat-card class="example-card forgotpwd">
        <form [formGroup]="profileForm" (ngSubmit)="submit()">
            <mat-card-content>



                <mat-form-field appearance="outline" fxFlex="100%">
                    <input matInput placeholder="Username/Email" formControlName="username">
                    <img matPrefix style="margin-top:-8px;margin-right: 4px;" src="assets\user-name.svg" alt="" />
                    <mat-error *ngIf="profileForm.get('username').errors?.['required']">
                        This field is required
                    </mat-error>
                    <mat-error *ngIf="profileForm.get('username').errors?.['maxlength']">
                        Only 30 charecters allowed
                    </mat-error>
                    <mat-error *ngIf="profileForm.get('username').errors?.['minlength']">
                        Min 3 needed.
                    </mat-error>
                </mat-form-field>


            </mat-card-content>
            <mat-card-actions>
                <div fxLayout="row" fxLayoutAlign="space-between center" class="button-act">
                    <button mat-raised-button color="primary" type="submit" class="log-btn" fxFlex="100%">RESET
                        PASSWORD</button>
                </div>
            </mat-card-actions>
            <div class="bottom-div">
                <span><a (click)="signIn()"> Return to Sign In
                    </a></span>
            </div>
        </form>
    </mat-card>
</div>