<button mat-fab (click)="openBottomSheet()">
    <mat-icon>chat</mat-icon> <!-- You can change "add" to any other icon -->
</button>

<ng-template #bottomsheet>

    <mat-card class="chat-card">
        <mat-card-header>
            <mat-card-title>Chat with Customer

                <mat-icon (click)="closeBottomSheet($event)" style="cursor: pointer;">close</mat-icon>
            </mat-card-title>
            <mat-card-subtitle class="title">
                <div class="online"></div> Executive is online
            </mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div class="chat-list">
                <div class="chat-wrapper  chat-in" *ngFor="let chat of chatList"
                    [ngClass]="[(chat.chatDir === 'from') ? 'chat-in' : 'chat-out']">
                    <div class="chat">{{chat.chatBody}}</div>
                    <div class="chat-time">{{chat.chatTime}}</div>
                </div>

            </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions [formGroup]="profileForm">

            <mat-form-field appearance="outline" style="font-size: 12px;width: 100%;">

                <input matInput placeholder="Search Here" type="text" formControlName="chatStr">
                <button mat-icon-button matSuffix (click)="sendChat()"><mat-icon>send</mat-icon></button>

            </mat-form-field>

        </mat-card-actions>
    </mat-card>
</ng-template>