<div class="footer">
    <div style="display: flex;
    flex-direction: row;
    justify-content: space-between;">
        <div>Copyright © bourntec. All Rights Reserved</div>

        <div style="display: flex;
        flex-direction: row;gap: 10px;
        justify-content: space-between;">
            <a href="javascript:;">Company</a>
            <a href="javascript:;">Terms of use</a>
            <a href="javascript:;">Privacy Policy</a>
            <a href="javascript:;">Cookie policy</a>
            <a href="javascript:;">Contact us</a>



        </div>
    </div>
</div>