<app-common-page-header [header]="'Supplier Details'"></app-common-page-header>
<div fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="flex-end"><button mat-raised-button color="primary"
      type="button" class="log-btn" (click)="submit()">Validate & Submit</button>
    <button mat-raised-button color="primary" type="button" class="log-btn" (click)="submit()">Submit Any Way</button>
  </div>
  <div fxLayout="row" fxLayoutGap="10px">
    <mat-card class="example-card" fxFlex="50%">

      <mat-card-content>
        <div class="main-row-sub common-struc">

          <form [formGroup]="profileForm">
            <div formArrayName="dynamicFields" style="display: grid;grid-template-columns: auto auto;">
              <div *ngFor="let field of dynamicFields.controls; let i = index">
                <div>

                  <label>{{ lbls[i].fieldName }}</label>

                  <div class="applicant-details-text">






                    <mat-form-field appearance="outline" style="width: 95%;">
                      <input matInput placeholder="" formControlName="email" [value]="lbls[i].fieldValue">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>

          </form>














          <!-- <div class="form-group ">
            <label>Company Name </label>
            <div class="applicant-details-text">
              <mat-form-field appearance="outline">
                <input matInput placeholder="Company Name" formControlName="username">
              </mat-form-field>
            </div>
          </div>
          <div class="form-group ">
            <label>Billing Address </label>
            <div class="applicant-details-text">
              <mat-form-field appearance="outline">
                <input matInput placeholder="Billing Address" formControlName="username">
              </mat-form-field>
            </div>
          </div> -->

        </div>

      </mat-card-content>


    </mat-card>
    <mat-card class="example-card" fxFlex="50%">

      <mat-card-content>
        <div class="main-row-sub common-struc">
          <pdf-viewer [src]="pdfSrc" [rotation]="0" [original-size]="false" [show-all]="true" [fit-to-page]="true"
            [zoom]="1" [zoom-scale]="'page-width'" [stick-to-page]="false" [render-text]="true"
            [external-link-target]="'blank'" [autoresize]="true" [show-borders]="false"
            style="width: 100%; height: 400px;"></pdf-viewer>

        </div>

      </mat-card-content>


    </mat-card>
  </div>
</div>



















<!-- Modal -->

<div class="modal" id="exampleModal" aria-labelledby="exampleModal" data-bs-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="exampleModalLabel">PDF</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <pdf-viewer [src]="pdfSrc" [rotation]="0" [original-size]="false" [show-all]="true" [fit-to-page]="true"
          [zoom]="1" [zoom-scale]="'page-width'" [stick-to-page]="false" [render-text]="true"
          [external-link-target]="'blank'" [autoresize]="true" [show-borders]="false"
          style="width: 100%; height: 400px;"></pdf-viewer>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- </div> -->