<ng-container *ngIf="isFilterable">
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="filter">
    </mat-form-field>
</ng-container>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" matSort>
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.field">
        <ng-container *ngIf="!column.hidden">
            <!-- <th mat-header-cell *matHeaderCellDef>
                {{column.header}}
            </th> -->
            <ng-container *ngIf="isSortable; else notSortable">
                <th mat-header-cell *matHeaderCellDef [mat-sort-header]="column.field">
                    {{column.header}}
                </th>
            </ng-container>
            <!-- else not sortable -->
            <ng-template #notSortable>
                <th mat-header-cell *matHeaderCellDef>
                    {{column.header}}
                </th>
            </ng-template>

            <td mat-cell *matCellDef="let  row ;let i = index">
                <div [ngSwitch]="column.type">
                    <!-- <ng-container *ngSwitchCase="'date'">
                            {{row[column.field] | date: 'dd/MM/yyy'}}

                        </ng-container>
                        <ng-container *ngSwitchCase="'datetime'">
                            {{row[column.field] | date: 'dd/MM/yyy HH:mm:ss'}}

                        </ng-container> -->
                    <!-- <ng-container *ngSwitchCase="'amount'">
                            $ {{row[column.field] | number}}

                        </ng-container>
                        -->
                    <ng-container *ngSwitchCase="'viewIconAction'">

                        <mat-icon matSuffix>
                            <div style="cursor: pointer;" (click)="emitRowAction(row,'view',i)">
                                remove_red_eye

                            </div>
                        </mat-icon>
                    </ng-container>
                    <ng-container *ngSwitchCase="'downloadIconAction'">
                        <div style="cursor: pointer;" (click)="emitRowAction(row,'download',i)">

                            <mat-icon matSuffix>download

                            </mat-icon>
                        </div>
                    </ng-container>

                    <ng-container *ngSwitchCase="'textbox'">

                        <mat-form-field>
                            <input matInput>
                        </mat-form-field>

                    </ng-container>
                    <!-- <ng-container *ngSwitchCase="'status'">
                            <div *ngIf="row.index" >
                               {{row.value}}

                            </div>
                            

                        </ng-container> -->
                    <ng-container *ngSwitchCase="'action'">
                        <div *ngIf="!row.index">
                            <div class="example-button-row">
                                <button mat-raised-button color="{{button === 'Approve'? 'primary' :'warn'}}"
                                    *ngFor="let button of rowActionIcon; " style="margin-left: 5px;">
                                    <span style="cursor: pointer;"
                                        (click)="emitRowAction(row,button,i)">{{button}}</span>
                                </button>
                            </div>
                        </div>
                        <div *ngIf="row.index">
                            <div style="color: green;" *ngIf=" row.value">

                                Approved
                            </div>
                            <div style="color: red;" *ngIf="!row.value">

                                Rejected
                            </div>

                        </div>

                    </ng-container>

                    <ng-container *ngSwitchDefault>
                        {{column.field === 'position' ? i + 1 : row[column.field]}}
                    </ng-container>
                </div>
                <!-- action column -->

                <!-- <div *ngIf=></div> -->
            </td>
        </ng-container>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length" style="text-align: center;">
            No data found
        </td>
    </tr>
</table>
<!-- Pagination -->
<mat-paginator *ngIf="isPageable" [pageSizeOptions]="paginationSizes" [pageSize]="defaultPageSize" showFirstLastButtons>
</mat-paginator>