table {
    width: 100%;
  }

  mat-form-field {
    width: 40%;
  }
  .button-red {
    background: blue;
    color: #fff !important;
    border: solid 0.3px blue;
}

.button-red:hover {
    background: #001543;
    border: solid 0.3px #ede4d7;
    color: #fff;
}
section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

::ng-deep .demo-table .mat-header-cell {
 font-weight: 500 !important;
}
::ng-deep .demo-table .mat-sort-header-content {
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
}
.custom-icon{
  font-size: 18px !important;
}